
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
body{
  background-image: url("xmas.jpg");
  min-height:100vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.countdown-container{
  display: flex;
}

h1{
  font-size: 3rem;
}

.big-text{
  font-size: 2rem;
  margin: 0 2rem;
}

.countdown-el{
  text-align: center;
}

.countdown-el span{
  text-align: center;
}